API_BASE_URL=
APP_BASE_URL=
NODE_ENV=development
APP_VERSION=1.0.0
PORT=3000
JWT_SECRET=localsecretkey

# Docker Environments
COMPOSE_PROJECT_NAME=api
COMPOSE_NODE_CONTAINER=mimosaapp
COMPOSE_NODE_PORT=9000

# Local Dev DB
DB_TYPE=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=mimosa
DB_USER=postgres
DB_PASS=12345

# Local Dev Test DB
DB_TYPE_TEST=postgres
DB_HOST_TEST=postgrestest
DB_PORT_TEST=5433
DB_NAME_TEST=mimosa_test
DB_USER_TEST=postgres
DB_PASS_TEST=12345